<!DOCTYPE html>
<html lang="uz">
<head>
    <!--=====================================
                META-TAG PART START
    =======================================-->
    <!-- REQUIRE META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- AUTHOR META -->
    <meta name="author" content="Mironcoder">
    <meta name="email" content="mironcoder@gmail.com">
    <meta name="profile" content="https://themeforest.net/user/mironcoder">

    <!-- TEMPLATE META -->
    <meta name="name" content="Classicads">
    <meta name="type" content="Classified Advertising">
    <meta name="title" content="Classicads - Classified Ads HTML Template">
    <meta name="keywords" content="classicads, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,">
    <!--=====================================
                META-TAG PART END
    =======================================-->
    <title>
        {% block title %}
        Classicads
        {% endblock title%}
    </title>

    <!--=====================================
                CSS LINK PART START
    =======================================-->
    {% include 'components/_styles.html' %}
    <!--=====================================
                CSS LINK PART END
    =======================================-->
</head>
<body>
<!--=====================================
            HEADER PART START
=======================================-->
{% include 'components/_header.html' %}
<!--=====================================
            HEADER PART END
=======================================-->


<!--=====================================
            CONTENT PART START
=======================================-->
{% block content %}
{% endblock content %}
<!--=====================================
            HCONTENT PART END
=======================================-->


<!--=====================================
            FOOTER PART PART
=======================================-->
{% include 'components/_footer.html' %}
<!--=====================================
            FOOTER PART END
=======================================-->


<!--=====================================
            JS LINK PART START
=======================================-->
{% include 'components/_scripts
<!--=====================================
            JS LINK PART END
=======================================-->
</body>
</html>






