{% load static %}
<!-- FONTS -->
<link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/fontawesome.css' %}">

<!-- VENDOR -->
<link rel="stylesheet" href="{% static 'css/vendor/slick.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">

<!-- CUSTOM -->
<link rel="stylesheet" href="{% static 'css/custom/main.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/index.css' %}">